<div class="jack-fruit-container">
<!--  <script>history.scrollRestoration = "manual"</script>-->
  <div class="header">
    <h1>Jack-fruit Cultivation and Exports</h1>
  </div>

  <div class="jack-fruit-content">
    <section class="section india">
      <h2>Jack-fruit Cultivation in India</h2>
      <p>The scientific name for jackfruit is Artocarpus heterophyllus. Jackfruit is a tropical tree fruit grown in Asia, Africa and South America. Under its thick, bumpy rind is a stringy flesh that you can eat raw or cooked in a variety of dishes.</p>
      <p>Jackfruit is the largest tree-borne fruit in the world, weighing up to 40 pounds or more. Luckily, you don’t need to throw this massive fruit into your shopping cart. Some health food stores carry peeled and cut jackfruit portions in pouches or cans, ready to cook or eat.</p>
      <div class="stat">
        <h3>Varieties</h3>
        <ul>
          <li>A table is listed below showing characteristics of different types of Jackfruit</li>
        </ul>
        <table>
          <thead>
          <th>Type</th>
          <th>Pulp Colour</th>
          <th>Pulp Texture</th>
          <th>Quality</th>
          <th>Comments</th>
          </thead>
          <tbody>
          <tr>
            <td>Tabouey</td>
            <td>Light Yellow</td>
            <td>Firm</td>
            <td>Pleasant Mild Flavor <br> Very Little Aroma</td>
            <td>Fruit Irregular<br>  Fruit May Split</td>
          </tr>
          <tr>
            <td>Lemon Gold</td>
            <td>Lemon, Yellow</td>
            <td>Firm to Crunchy</td>
            <td>Very Sweet Flavor</td>
            <td>Highly Recommended.<br>  Flesh is Thick Walled</td>
          </tr>
          <tr>
            <td>J-31</td>
            <td>Deep Yellow</td>
            <td>Firm</td>
            <td>Rich and Sweet Flavor<br>Earthy Aroma</td>
            <td>Rich and Sweet Flavor<br>Earthy Aroma
            </td>
          </tr>
          <tr>
            <td>Kun Wi Chan</td>
            <td>Yellow</td>
            <td>Soft to Moderately Firm</td>
            <td>Very Pleasant Mild Flavor</td>
            <td>Considered of Average to Not Very Good Quality</td>
          </tr>
          <tr>
            <td>Cochin</td>
            <td>Yellow to Orange</td>
            <td>Firm to Crunchy</td>
            <td>Mild to Good</td>
            <td>Can have ‘Rag’ Adhering to Arils.<br> ‘Rag’ is Edible and Pulls Off Easy.</td>
          </tr>
          <tr>
            <td>Honey Gold</td>
            <td>Dark Yellow to Orange</td>
            <td>Firm</td>
            <td>Rich Sweet Flavor<br>Rich Aroma</td>
            <td>Excellent Texture<br>Flesh is Thick Walled</td>
          </tr>
          <tr>
            <td>Chompa Gob</td>
            <td>Orange</td>
            <td>Firm</td>
            <td>Mild Good Flavor</td>
            <td>Excellent Quality Texture</td>
          </tr>
          <tr>
            <td>Black Gold </td>
            <td>Deep Orange</td>
            <td>Medium Firm, Soft</td>
            <td>Sweet, Good, Aromatic</td>
            <td>Flesh is Easily Removed</td>
          </tr>
          <tr>
            <td>Dang Rasimi</td>
            <td>Deep Orange</td>
            <td>Firm to Soft</td>
            <td>Sweet Flavor, Mild with Pleasant Aroma</td>
            <td>Flesh is Thin Walled</td>
          </tr>
          <tr>
            <td>Cheena</td>
            <td>Deep Orange</td>
            <td>Soft and Melting, Slightly Fibrous</td>
            <td>Excellent Flavor and Very Aromatic</td>
            <td>Flesh is Easily Removed</td>
          </tr>
          <tr>
            <td>Golden Nugget</td>
            <td>Deep Orange</td>
            <td>Medium Firm to Soft</td>
            <td>Flavor is Excellent</td>
            <td>After Heavy Rains Fruit May Split</td>
          </tr>
          <tr>
            <td>J-30</td>
            <td>Deep Orange</td>
            <td>Firm</td>
            <td>Flavor is Rich and Sweet<br>Aroma is Rich and Sweet</td>
            <td>Excellent Texture<br>Fruit Thick Walled</td>
          </tr>
          <tr>
            <td>NS1</td>
            <td>Dark Orange</td>
            <td>Firm</td>
            <td>Rich Sweet Flavor</td>
            <td>Excellent Texture</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="stat">
        <ul>
          <li>
            Here is a Table below showing you pictures of some of the various Jackfruit cultivar fruit.
          </li>
        </ul>
        <table>
          <thead>
          <th>Jackfruit Type</th>
          <th>Picture of image</th>
          <th>Comments</th>
          </thead>
          <tbody>
          <tr>
            <td>Tabouey</td>
            <td><img src="../../assets/Images/fruits/pomo.jpg" alt="Fruits"  alt="Fruits" style="height:80px;width:80px"></td>
            <td><p>The Tabouey Jackfruit tree has dark green rounded leaves that are small. The tree forms an open, rounded canopy. The fruit of the Tabouey Jackfruit appear long, thin and tapered at the stem-end and are often misshapen and lobed. They tend to have a bright yellow color and irregular, blunt spines.
            </p></td>
          </tr>
          <tr>
            <td>Lemon Gold</td>
            <td><img src="../../assets/Images/fruits/pomo.jpg" alt="Fruits"  alt="Fruits" style="height:80px;width:80px"></td>
            <td><p>The fruit of the Lemon Gold Jackfruit tend to be ‘blocky’ in shape and medium to small in size. The growth of the tree is vigorous and moderately dense. Its canopy has a moderate spread.
            </p></td>
          </tr>
          <tr>
            <td>J-31</td>
            <td><img src="../../assets/Images/fruits/pomo.jpg" alt="Fruits"  alt="Fruits" style="height:80px;width:80px"></td>
            <td><p>The fruit of the J-31 Jackfruit tend to be large and irregular in shape with blunt prominent spines. This variety has a good tolerance to cold and will often produce fruit during the winter and months. The J-31 tree grows with an open spreading canopy.</p></td>
          </tr>
          <tr>
            <td>Kun Wi Chan</td>
            <td><img src="../../assets/Images/fruits/pomo.jpg" alt="Fruits"  alt="Fruits" style="height:80px;width:80px"></td>
            <td>The Kun Wi Chan Jackfruit has a uniform round fruit with a vigorous fast growth rate and dense foliage. The fruit size is considered large.</td>
          </tr>
          <tr>
            <td>Cochin</td>
            <td><img src="../../assets/Images/fruits/pomo.jpg" alt="Fruits"  alt="Fruits" style="height:80px;width:80px"></td>
            <td><p>
              The fruit of the Cochin Jackfruit are small and smooth in comparison with other Jackfruit varieties. This is primarily because the fruits spines open and flatten as the fruit matures. The trees growth tends to be low in vigor and forms an upright sparse and narrow canopy.
            </p></td>
          </tr>
          <tr>
            <td>Honey Gold</td>
            <td><img src="../../assets/Images/fruits/pomo.jpg" alt="Fruits"  alt="Fruits" style="height:80px;width:80px"></td>
            <td>The Honey Gold Jackfruit has a small to medium-small fruit with a ‘blocky’ appearance. It is recommended to thin the fruit out, and the tree grows fairly slowly with a sparse, spreading canopy. The fruit is basketball sized round when it is ripe and it will fruit on many limbs.</td>
          </tr>
          <tr>
            <td>Chompa Gob</td>
            <td><img src="../../assets/Images/fruits/pomo.jpg" alt="Fruits"  alt="Fruits" style="height:80px;width:80px"></td>
            <td><p>The Chompa Gob Jackfruit has a medium sized fruit with a ‘blocky’ uniform shape. The tree is a fast grower with open, spreading canopy.</p></td>
          </tr>
          <tr>
            <td>Black Gold</td>
            <td><img src="../../assets/Images/fruits/pomo.jpg" alt="Fruits"  alt="Fruits" style="height:80px;width:80px"></td>
            <td><p>
              The exterior of the Black Gold Jackfruit is a dark green color with sharp fleshy spines. It is difficult to judge the harvest time and maturity of this cultivar because the spines do not flatten, or “open” when mature. The tree has vigorous growth, with a manageable and dense canopy.
            </p></td>
          </tr>
          <tr>
            <td>Dang Rasimi</td>
            <td><img src="../../assets/Images/fruits/pomo.jpg" alt="Fruits"  alt="Fruits" style="height:80px;width:80px"></td>
            <td><p>The fruit of the Dang Rasimi Jackfruit tree are a pale yellow to bright green color with a uniform shape if they are thinned so that only one fruit is permitted to grow per fruiting spur. The skin of the fruit has sharp spines which do not “open” or flatten with maturity. The tree is open, spreading and is one of the most vigorous Jackfruit varieties.</p></td>
          </tr>
          <tr>
            <td>Cheena</td>
            <td><img src="../../assets/Images/fruits/pomo.jpg" alt="Fruits"  alt="Fruits" style="height:80px;width:80px"></td>
            <td><p>The fruit of the Cheena Jackfruit are narrow, long and uniform in shape and size. The skin has blunt spines and is green, which becomes yellow and open a bit upon maturity. The tree is a natural hybrid between champedak (which is similar to Jackfruit and breadfruit) and Jackfruit. The growth of the tree is low and spreading and open.</p></td>
          </tr>
          <tr>
            <td>Golden Nugget</td>
            <td><img src="../../assets/Images/fruits/pomo.jpg" alt="Fruits"  alt="Fruits" style="height:80px;width:80px"></td>
            <td>The fruit of the Golden Nugget Jackfruit tree green, small and rounded. They have fleshy sharp spines on the skin. When the fruit matures, the spines will become smooth and golden yellow. The tree tends to be fast growing and has a very distinctive rounded dark green leaf. The tree canopy is dense and spreading, but easily maintained.</td>
          </tr>
          <tr>
            <td>J-30</td>
            <td><img src="../../assets/Images/fruits/pomo.jpg" alt="Fruits"  alt="Fruits" style="height:80px;width:80px"></td>
            <td><p>The J-30 Jackfruit bears fruit that are uniform and that hang singly on the major tree branches. The fruits of the J-30 are dark green and uniform in color and shape, with the skin having blunt spines. The tree of the J-30 Jackfruit grows vigorously with an open canonical canopy.
            </p></td>
          </tr>
          <tr>
            <td>NS1</td>
            <td><img src="../../assets/Images/fruits/pomo.jpg" alt="Fruits"  alt="Fruits" style="height:80px;width:80px"></td>
            <td>The NS1 Jackfruit was among one of the earliest and superior Jackfruits successfully cultivated in North and South America. The NS1 fruit are a dark green color with spines that are blunt and flattened. As the fruit ripens the spines will flatten and open</td>
          </tr>
          </tbody>
        </table>
      </div>
    </section>
    <section class="section india">
      <h2>Areas of Cultivation :</h2>
      <p>
        In India, major jackfruit growing states are Kerala, Tamil Nadu, Assam, and Bihar. Jackfruit is the state fruit of Kerala. Jack tree produces abundant fruit every year and is usually grown organically in homesteads and secondary forest regions without the application of additional care and farming practices.      </p>
    </section >
    <section class="section">
      <h2>
        Annual tons (2021 - 2022)
      </h2>
      <table>
        <thead>
        <th>State</th>
        <th>Production</th>
        <th>Share(%)</th>
        </thead>
        <tbody>
        <tr>
          <td>Orissa</td>
          <td>312.18</td>
          <td>16.63</td>
        </tr>
        <tr>
          <td>Kerala</td>
          <td>263.00</td>
          <td>14.01</td>
        </tr>
        <tr>
          <td>Assam</td>
          <td>212.16</td>
          <td>11.31</td>
        </tr>
        <tr>
          <td>West bengal</td>
          <td>207.14</td>
          <td>11.04</td>
        </tr>
        <tr>
          <td>Chattisgarh</td>
          <td>204.14</td>
          <td>11.04</td>
        </tr>
        <tr>
          <td>Jharkhand</td>
          <td>199.96</td>
          <td>10.66</td>
        </tr>
        <tr>
          <td>Tripura</td>
          <td>133.88/td>
          <td>7.13</td>
        </tr>
        <tr>
          <td>karnataka</td>
          <td>94.96</td>
          <td>5.06</td>
        </tr>
        <tr>
          <td>Madhya pradesh</td>
          <td>88.88</td>
          <td>4.74</td>
        </tr>
        <tr>
          <td>Tamil Nadu</td>
          <td>69.01</td>
          <td>3.68</td>
        </tr>
        </tbody>
      </table>
    </section>
    <section class="section">
      <h2>
        Top country imports jack fruit (not from India)
      </h2>
      <table>
        <thead>
        <th>Country</th>
        <th>Import%</th>
        <th>Import value</th>
        </thead>
        <thead>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </thead>
        <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </section>
    <section class="section">
      <h2>
        Trade Flow diagram fom last 5 years
      </h2>
      <table>
        <thead>
        <th>Trade Flow</th>
        <th>import value <br> 2021 USD </th>
        <th>1 - year growth in import value <br> 2021 - 2021</th>
        <th>3 - year growth in import value <br> 2018 - 2021</th>
        <th>5 - year growth in import value <br> 2016 - 2021</th>
        </thead>
        <tbody>
          <tr>
            <td>Thailand to China</td>
            <td>$329.61</td>
            <td>+63.98%</td>
            <td>+221.08%</td>
            <td>+776.66%</td>
          </tr>
          <tr>
            <td>Canada to Unites States</td>
            <td>$227.41M</td>
            <td>+1.26%</td>
            <td>+51.99%</td>
            <td>+55.56%</td>
          </tr>
          <tr>
            <td>Malaysia to China</td>
            <td>$186.26M</td>
            <td>+88.28%</td>
            <td>+350.18%</td>
            <td>+897.23%</td>
          </tr>
          <tr>
            <td>Chile tp United States</td>
            <td>$131.98M</td>
            <td>+33.41%</td>
            <td>+64.90%</td>
            <td>+43.97%</td>
          </tr>
          <tr>
            <td>Mexico to United States</td>
            <td>$114.70M</td>
            <td>+14.41%</td>
            <td>+76.31%</td>
            <td>+59.59%</td>
          </tr>
          <tr>
            <td>Costa Rica to United States</td>
            <td>$75.75M</td>
            <td>+42.48%</td>
            <td>+84.96%</td>
            <td>+92.23%</td>
          </tr>
          <tr>
            <td>Peru to United States</td>
            <td>$75.70M</td>
            <td>+13.30%</td>
            <td>+74.82%</td>
            <td>+96.69%</td>
          </tr>
          <tr>
            <td>United States to Canada</td>
            <td>$67.20M</td>
            <td>+6.86%</td>
            <td>+38.93%</td>
            <td>+26.02%</td>
          </tr>
          <tr>
            <td>Poland to Germany</td>
            <td>$53.14M</td>
            <td>+5.21%</td>
            <td>-5.56%</td>
            <td>+17.02%</td>
          </tr>
          <tr>
            <td>Guatemala to United States</td>
            <td>$49.93M</td>
            <td>+90.65%</td>
            <td>+102.42%</td>
            <td>+153.60%</td>
          </tr>
        </tbody>
      </table>
    </section>
    <section class="section">
      <h3>
        Top country exports jack fruit (from India
      </h3>
      <p>India exports most of it's Jack fruit to United Arab Emirates, United Kingdom and United States and is the largest exporter of Jack fruit in the World. The top 3 exporters of Jack fruit are India with 7,088 shipments followed by Vietnam with 1,151 and South Africa at the 3rd spot with 474 shipments</p>
    </section>
    <section class="section">
      <h3>
        Harvesting time
      </h3>
      <p>Period of fruit development is February to June. Harvesting is done by cutting the stalks carrying the fruits. Normally, a tree bears a few to 250 fruits annually at this stage</p>
    </section>
  </div>
  <footer class="footer">
    <button (click)="closePopup()" style="background-color: black;" >Close</button>
  </footer>
</div>

