<div class="container products-page">
  <div class="row g-3">
    <div class="col-4">
      <h3 style="text-align: center">Brinjal</h3>
      <img src="../../assets/Images/vegetable/brinjal_front.jpg" alt="vegetable" style="height:290px;width:290px; cursor: pointer;"
           (click)="brinjalPopup()" class="product-image fruits-image"/>
    </div>
    <div class="col-4">
      <h3 style="text-align: center">Cucumber</h3>
      <img src="../../assets/Images/vegetable/cucumber_front.jpg" alt="vegetable" style="height:290px;width:290px; cursor: pointer;"
           (click)="cucumberPopup()" class="product-image fruits-image"/>
    </div>
    <div class="col-4">
      <h3 style="text-align: center">Drumstick</h3>
      <img src="../../assets/Images/vegetable/drumstic_front.jpg" alt="vegetable" style="height:290px;width:290px; cursor: pointer;"
           (click)="drumStickPopup()" class="product-image fruits-image"/>
    </div>
    <div class="col-4">
      <h3 style="text-align: center">Cauliflower</h3>
      <img src="../../assets/Images/vegetable/cauliflower_front.jpg" alt="vegetable" style="height:290px;width:290px; cursor: pointer;"
           (click)="cauliflowerPopup()" class="product-image fruits-image"/>
    </div>
    <div class="col-4">
      <h3 style="text-align: center">Carrot</h3>
      <img src="../../assets/Images/vegetable/carrot_front.jpg" alt="vegetable" style="height:290px;width:290px; cursor: pointer;"
           (click)="carrotPopup()" class="product-image fruits-image"/>
    </div>
    <div class="col-4">
      <h3 style="text-align: center">Cabbage</h3>
      <img src="../../assets/Images/vegetable/cabbage_front.jpg" alt="vegetable" style="height:250px;width:250px; cursor: pointer;"
           (click)="cabbagePopup()" class="product-image fruits-image"/>
    </div>
    <div class="col-4">
      <h3 style="text-align: center">Chilli</h3>
      <img src="../../assets/Images/vegetable/chilli_front.jpg" alt="vegetable" style="height:250px;width:250px; cursor: pointer;"
           (click)="chilliPopup()" class="product-image fruits-image"/>
    </div>
    <div class="col-4">
      <h3 style="text-align: center">Coconut</h3>
      <img src="../../assets/Images/vegetable/coconut_front.jpg" alt="vegetable" style="height:250px;width:250px; cursor: pointer;"
           (click)="coconutPopup()" class="product-image fruits-image"/>
    </div>
  </div>
</div>
