<div class="logo">
  <img src="../../assets/Images/BBL.png" alt="Logo" class="img-fluid" style="max-width: 100px;">
</div>



<nav class="nav-bar" style="padding-bottom: 30px; padding-top: 30px;">
  <ul>
      <li><a routerLink="/Home" routerLinkActive="active-link">Home</a></li>
      <li><a routerLink="/Products" routerLinkActive="active-link">Products</a></li>
      <li><a routerLink="/about-us" routerLinkActive="active-link">About Us</a></li>
      <li><a routerLink="/contact-us" routerLinkActive="active-link">Contact Us</a></li>
  </ul>
</nav>