<div class="avocado-container">
<!--  <script>history.scrollRestoration = "manual"</script>-->
  <div class="header">
    <h1>Avocado Cultivation and Exports</h1>
  </div>

  <div class="avocado-content">
    <section class="section india">
      <h2>Avocado Cultivation in India</h2>
      <p>An avocado is a bright green fruit with a large pit and dark leathery skin. They’re also known as alligator pears or butter fruit. Avocados are a favorite of the produce section. They’re the go-to ingredient for guacamole dips. And they're turning up in everything from salads and wraps to smoothies and even brownies.</p>
      <p>Avocados have a lot of calories. The recommended serving size is smaller than you’d expect: 1/3 of a medium avocado (50 grams or 1.7 ounces). One ounce has 50 calories. </p>
      <p>Avocados are high in fat. But it's monounsaturated fat, which is a "good" fat that helps lower bad cholesterol, as long as you eat them in moderation.</p>
      <div class="stat">
        <h3>Varieties</h3>
        <ul>
          <li>15 of the most common types of avocado.</li>
        </ul>
      </div>
      <div class="stat">
        <h3>A-type cultivars</h3>
        <ul>
          <li>Though there are many more, below are some of the better-known A-type-cultivar avocados:</li>
        </ul>
        <table>
          <thead>
          <tr>
            <th>Types</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Choquette</td>
            <td>The Choquette has smooth, glossy skin with watery flesh that often leaks when the fruit is cut. This variety comes from South Florida.</td>
          </tr>
          <tr>
            <td>Lula</td>
            <td>The Lula peaks during the summertime, has fewer natural oils, and contains more water than many other varieties. It’s resistant to cold but highly susceptible to fungi. The Lula grows to weigh around 1 pound (450 grams).</td>
          </tr>
          <tr>
            <td>Hass</td>
            <td> The Hass is the most popular variety. It’s available all year round and has a buttery, nutty flavor and spherical shape. Its skin turns from a bold green to a dark purplish-black as it ripens.</td>
          </tr>
          <tr>
            <td>Reed</td>
            <td>The Reed is only available during the summer months. It has a lighter, more subtle flavor and is about the size of a softball. As the Reed ripens, its skin remains the same green color, unlike other types.</td>
          </tr>
          <tr>
            <td>Pinkerton</td>
            <td> The Pinkerton has an oblong shape, rough skin that is easy to peel, and small seed inside of a creamy flesh. This type grows to 0.5–1.5 pounds (225–680 grams).</td>
          </tr>
          <tr>
            <td>Gwen</td>
            <td>The Gwen is similar to the Hass avocado in taste and appearance. This is a larger Guatemalan variety with a thick, dark-green skin that is easy to remove.</td>
          </tr>
          <tr>
            <td>Maluma</td>
            <td>The Maluma is a dark-purple avocado that was discovered in the 1990s in South Africa. This variety grows slowly, but the trees bear a lot of fruit.</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="stat">
        <h3>B-type cultivars</h3>
        <ul>
          <li>Some of the B-type-cultivar avocados include:</li>
        </ul>
        <table>
          <thead>
          <tr>
            <th>Types</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Ettinger</td>
            <td>The Ettinger is most often grown in Israel and has a bright green skin, large seed, and mild flavor.</td>
          </tr>
          <tr>
            <td>Sharwil</td>
            <td>The Sharwil is an Australian avocado with a rough, green peel and yellow flesh. It’s very oily with a bold flavor and is susceptible to frost.</td>
          </tr>
          <tr>
            <td>Zutano</td>
            <td>The Zutano is covered in a lighter, yellow-green skin and has a mild taste that’s unlike many other, more buttery varieties. It typically grows to around 0.5–1 pound (225–450 grams).</td>
          </tr>
          <tr>
            <td>Brogden</td>
            <td> The Brogden avocado is a dark-purple hybrid of West Indian and Mexican varieties. Though it’s very resistant to the cold, it’s hard to peel and thus not a popular commercial variety.</td>
          </tr>
          <tr>
            <td>Fuerte</td>
            <td>The Fuerte is distinctly pear-shaped and available for 8 months of the year. Its name means “strong” in Spanish, and it has an oily texture similar to that of a hazelnut.</td>
          </tr>
          <tr>
            <td>Cleopatra</td>
            <td>The Cleopatra is a small dwarf avocado that is relatively new to the consumer market.</td>
          </tr>
          <tr>
            <td>Bacon</td>
            <td>The Bacon has a lighter taste than other varieties. Its light-brown skin is easy to peel.</td>
          </tr>
          <tr>
            <td>Monroe</td>
            <td>The Monroe is a large avocado that can weigh over 2 pounds (910 grams). It’s a firmer variety and has less watery flesh</td>
          </tr>
          </tbody>
        </table>
      </div>
    </section>
    <section class="section india">
      <h2>Areas of Cultivation :</h2>
      <p>Avocado is a native of tropical America. It originated in Mexico and Central America, possibly from more than one wild species. The early Spanish explorers recorded its cultivation from Mexico to Peru but it was not in the West Indies at that time. It was introduced into Jamaica in 1650 and to Southern Spain in 1601. It was reported in Zanzibar in 1892. It was first recorded in Florida in 1833 and in California in 1856.</p>
      <p>In India, avocado is not a commercial fruit crop. It was introduced from Sri Lanka in the early part of the twentieth century. In a very limited scale and in a scattered way it is grown in Tamil Nadu, Kerala, Maharashtra, Karnataka in the south-central India and in the eastern Himalayan state of Sikkim.</p>
      <p> It can not tolerate the hot dry winds and frosts of northern India. Climatically, it is grown in tropical or semitropical areas experiencing some rainfall in summer, and in humid, subtropical summer rainfall areas.</p>
    </section >
    <section class="section india">
      <h3>India Facts and Figures :</h3>
      <p>
        India is also a prominent exporter of fresh mangoes to the world. The country has exported 27,872.78 MT of fresh mangoes to the world for the worth of Rs. 327.45 crores/ 44.05 USD Millions during the year 2021-22.
        Major Export Destinations (2021-22): United Arab EMTs, the U.K., Qatar, Oman and Kuwait
      </p>
    </section>
    <section class="section india">
      <h3>
        Top companies export from india (2020)
      </h3>
      <table>
        <thead>
        <th>Export Country</th>
        <th>Quantity</th>
        <th>Value</th>
        <th>Share (%)</th>
        </thead>
        <tbody>
        <tr>
          <td>Mexico</td>
          <td>1170180.00</td>
          <td>3018610.00</td>
          <td>41.65</td>
        </tr>
        <tr>
          <td>Peru</td>
          <td>465323.00</td>
          <td>1145734.00</td>
          <td>15.81</td>
        </tr>
        <tr>
          <td>Netherland</td>
          <td>183816.00</td>
          <td>529351.00</td>
          <td>7.30</td>
        </tr>
        <tr>
          <td>Spain</td>
          <td>135678.00</td>
          <td>467378.00</td>
          <td>6.45</td>
        </tr>
        <tr>
          <td>Chile</td>
          <td>121536.00</td>
          <td>401349.00</td>
          <td>5.54</td>
        </tr>
        <tr>
          <td>Colombia</td>
          <td>100788.00</td>
          <td>283108.00</td>
          <td>3.91</td>
        </tr>
        <tr>
          <td>israel</td>
          <td>63639.00</td>
          <td>212252.00</td>
          <td>2.93</td>
        </tr>
        <tr>
          <td>South Africa</td>
          <td>68904.00</td>
          <td>178579.00</td>
          <td>2.46</td>
        </tr>
        <tr>
          <td>Kenya</td>
          <td>80438.00</td>
          <td>173070.00</td>
          <td>2.39</td>
        </tr>
        <tr>
          <td>Germany</td>
          <td>41148.00</td>
          <td>129590.00</td>
          <td>1.79</td>
        </tr>
        </tbody>
      </table>
    </section>
    <section class="section">
      <h3>
        Top companies import (not from india)
      </h3>
      <table>
        <thead>
        <th>Trade Flow</th>
        <th>Import value <br> 2021,USD</th>
        <th>1 - year growth in import value <br> 2020 - 2021</th>
        <th>3 - year growth in import value <br> 2018 - 2021</th>
        <th>5 - year growth in import value <br> 2016 - 2021</th>
        </thead>
        <tbody>
        <tr>
          <td>Mexico to United States</td>
          <td>$2.68M</td>
          <td>+24.74%</td>
          <td>+33.70%</td>
          <td>+56.62%</td>
        </tr>
        <tr>
          <td>Peru to Netherland</td>
          <td>$371.36M</td>
          <td>+17.44%</td>
          <td>+119.82%</td>
          <td>+119.39%</td>
        </tr>
        <tr>
          <td>Mexico to Canada</td>
          <td>$239.18M</td>
          <td>+8.66%</td>
          <td>+11.51%</td>
          <td>+44.28%</td>
        </tr>
        <tr>
          <td>peru to Spain</td>
          <td>$210.65M</td>
          <td>+27.41%</td>
          <td>+55.46%</td>
          <td>+127.86%</td>
        </tr>
        <tr>
          <td>Peru to United States</td>
          <td>$201.28M</td>
          <td>+5.56%</td>
          <td>+1.73%</td>
          <td>+180.37%</td>
        </tr>
        <tr>
          <td>Spain to France</td>
          <td>$196.03M</td>
          <td>+7.12%</td>
          <td>+50.72%</td>
          <td>+96.89%</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Netherlands to France</td>
          <td>$191.31M</td>
          <td>+5.49%</td>
          <td>+8804.69%</td>
          <td>+15203.70%</td>
        </tr>
        <tr>
          <td>Mexico to Japan</td>
          <td>$186.17M</td>
          <td>-2.04%</td>
          <td>-2.26%</td>
          <td>-4.57%</td>
        </tr>
        <tr>
          <td>Colombia to Netherlands</td>
          <td>$150.83M</td>
          <td>+6.73%</td>
          <td>+400.66</td>
          <td>+657.00</td>
        </tr>
        <tr>
          <td>Peru to Chile</td>
          <td>$117.20M</td>
          <td>+172.73%</td>
          <td>+247.61%</td>
          <td>+729.19%</td>
        </tr>
        </tbody>
      </table>
    </section>
    <section class="section">
      <h3>Harvesting Time</h3>
      <h2>The major harvesting seasons in different states are:</h2>
      <p>Different avocado cultivars must be harvested at different times of the year. Bacon is ready November through March. Fuerte is ready November through June, and Hass is ready April through October. Pinkerton is usually ready in the winter and early spring (December through April). </p>
      <p>If you can grow several different varieties of avocado, you can have fresh guacamole almost every month of the year!
        Once you have figured out the maturity date for your particular avocado variety, you can usually depend on it maturing at the same time year after year, give or take one or two weeks.</p>
      <p>Avocados will show some subtle changes when they’re ready to harvest. Generally, the fruit will darken and become duller in appearance, the bloom (a very light dusty covering) will disappear, and, in some varieties, small brown spots will appear on the skin.</p>
    </section>
  </div>
  <footer class="footer">
    <button (click)="closePopup()" style="background-color: black;" >Close</button>
  </footer>
</div>

