<div class="sapodilla-container">
<!--  <script>history.scrollRestoration = "manual"</script>-->
  <div class="header">
    <h1>Sapodilla Cultivation and Exports</h1>
  </div>

  <div class="sapodilla-content">
    <section class="section india">
      <h2>Sapodilla Cultivation in India</h2>
      <p>Sapota, is popularly known in India as chiku Hindi name. In India, chiku is cultivated for fruits that are liked all over the country. The sapota fruit is a fleshy berry, variable in shape, size, and weight (75-150g). The skin is thin, rusty brown, somewhat scurfy looking like an Irish potato, and the pulp is soft, crumbling, melting with a sandy or granular texture with 1-5 hard, black seeds.</p>
      <p> Get in touch with us for small quantities for your rear garden, home garden, or kitchen garden, or large quantities for farmland development, fruit farms, fruit orchards, real estate layouts, or commercial cultivation.
        Botanical name is Manilkara zapota and zapota belongs to the Sapotaceous family. It is known as Sapota in Kannada and Telugu, Chiku / Chikoo in Hindi.  Sapodilla is native to Central America, Southern Mexico, and the Caribbean. Now, Chiku sapota plants are grown in large quantities in Southeast Asia.</p>

      <h2>Area of Cultivation</h2>
      <p>In India, it is mainly grown in Karnataka, Tamil Nadu, Kerala, Andhra Pradesh, Maharashtra, and Gujarat. Sapota is cultivated in 65thousand acre of land and gives an annual production of 5.4lakhs metric tonnes. Its fruit is berry which contains 3-5 black shining seeds</p>
      <div class="stat">
        <h3>Varieties</h3>
        <ul>
          <li>India is the home of about 1,000 varieties. However, only a few varieties are commercially cultivated throughout India. Most Indian mango varieties have specific eco-geographical requirements for optimum growth and yield. The Northern/Eastern Indian varieties are usually late bearing compared to Southern and Western Indian varieties. Some of the local varieties of mango bear fruits throughout the year in extreme southern parts of India.</li>
        </ul>
      </div>
    </section>
    <section class="section india">
      <h2>Areas of Cultivation</h2>
      <p>India is the world's largest producer of sapota, also known as chiku, and the fruit is cultivated in many states</p>
      <h2>Annual Tunes (  2021- 2022)</h2>
      <table>
        <thead>
        <tr>
          <th>State</th>
          <th>Production</th>
          <th>Shares</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Gujarat</td>
          <td>273.87</td>
          <td>32.84</td>
        </tr>
        <tr>
          <td>Andhra Pradesh</td>
          <td>202.20</td>
          <td>24.24</td>
        </tr>
        <tr>
          <td>Maharashtra</td>
          <td>109.10</td>
          <td>13.08</td>
        </tr>
        <tr>
          <td>Karnataka</td>
          <td>102.00</td>
          <td>12.23</td>
        </tr>
        <tr>
          <td>West Bengal</td>
          <td>47.38</td>
          <td>5.68</td>
        </tr>
        <tr>
          <td>Tamil nadu</td>
          <td>29.43</td>
          <td>3.53</td>
        </tr>
        <tr>
          <td>Haryana</td>
          <td>20.58</td>
          <td>2.47</td>
        </tr>
        <tr>
          <td>Telangana</td>
          <td>20.58</td>
          <td>2.47</td>
        </tr>
        <tr>
          <td>Orissa</td>
          <td>13.52</td>
          <td>1.62</td>
        </tr>
        <tr>
          <td>Madhya Pradesh</td>
          <td>6.68</td>
          <td>0.80</td>
        </tr>
        </tbody>
      </table>

    </section >
    <section class="section">
      <h3>
        Top 10 Country's Exports From India
      </h3>
      <table>
        <thead>
        <tr>
          <th>Country</th>
          <th>Qty</th>
          <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Thailand</td>
          <td>613844.00</td>
          <td>798783.00</td>
        </tr>
        <tr>
          <td>Vietnam soc rep</td>
          <td>751300.00</td>
          <td>739745.00</td>
        </tr>
        <tr>
          <td>Spain</td>
          <td>98414.00</td>
          <td>172673.00</td>
        </tr>
        <tr>
          <td>Ecuador</td>
          <td>160275.00</td>
          <td>161101.00</td>
        </tr>
        <tr>
          <td>Mexico</td>
          <td>191444.00</td>
          <td>139351.00</td>
        </tr>
        <tr>
          <td>Turkey</td>
          <td>132262.00</td>
          <td>135005.00</td>
        </tr>
        <tr>
          <td>Colombia</td>
          <td>19192.00</td>
          <td>108043.00</td>
        </tr>
        <tr>
          <td>USA</td>
          <td>30212.00</td>
          <td>99292.00</td>
        </tr>
        <tr>
          <td>Netherland</td>
          <td>33224.00</td>
          <td>95220.00</td>
        </tr>
        <tr>
          <td>Peru</td>
          <td>40888.00</td>
          <td>94445.00</td>
        </tr>
        </tbody>
      </table>
    </section>
    <section class="section">
      <h3>
        Top Country Import Mango(Not From India)
      </h3>
      <table>
        <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </section>
    <section class="section">
      <h3>Harvesting Time</h3>
      <h2>The major harvesting seasons in different states are:</h2>
      <p>Sapota starts bearing from third year of planting but economic yields can be obtained from 5th year onwards. The two main seasons of flowering are October- November and February-March and the two corresponding harvesting seasons are January-Februrary and May-June. Sapota takes four months from flowering to maturity of fruits</p>
    </section>

  </div>
  <footer class="footer">
    <button (click)="closePopup()" style="background-color: black;" >Close</button>
  </footer>
</div>

