<div class="pomo-container">
  <div class="header">
    <h1>Pomegranate Cultivation and Exports</h1>
  </div>

  <div class="pomo-content">
    <section class="section india">
      <h2>Pomegranate Cultivation in India</h2>
      <p>Pomegranate is cultivated commercially only in Maharashtra. Small scale plantations are also seen in Gujarat, Rajasthan, Karnataka, Tamil Nadu , Andhra Pradesh, Uttar Pradesh, Punjab and Haryana. Fruit is consumed fresh or in the form of juice, jam, squash and syrup.</p>
      <div class="stat">
        <h3>Maharashtra</h3>
        <ul>
          <li>Maharashtra is the leading state with 65.51 per cent of the area and 64.61 per cent of total
            production under pomegranate</li>
          <li> Total: 2.16 lakh ha with an annual production of 24.42 lakh tonnes and productivity of 11.70 tonnes/ha</li>
        </ul>
      </div>
    </section>
    <section class="section india">
      <h2>Types of Pomegranate</h2>
      <table>
        <thead>
        <tr>
          <th>Types</th>
          <th>About</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            GANESH
          </td>
          <td>
            This pink variety has medium sized seeds and is famous in Maharashtra.
          </td>
        </tr>
        <tr>
          <td>
            JYOTI
          </td>
          <td>
            Medium to big in size, this variety has a shiny skin and is yellowish red in colour, and its soft seeds are extremely sweet.
          </td>
        </tr>
        <tr>
          <td>
            MRIDULA
          </td>
          <td>
            This deep red variety has a shiny skin. The seeds are deep red in colour and juicy and each fruit can weigh up to 250 to 300 grams.
          </td>
        </tr>
        <tr>
          <td>
            BHAGWA
          </td>
          <td>
            This variety is a shiny ochre in colour and has deep red seeds in it. It is usually big in size. If cultivated properly, each sapling of this variety can bear up to 30-40 kgs of fruit. It is suitable to grow in Maharashtra and Rajasthan.
          </td>
        </tr>
        <tr>
          <td>
            ARAKTA
          </td>
          <td>
            This variety grows in abundance. The fruit is big, red and has sweet and juicy seeds. At its best, each sapling can bear up to 25 to 30 kgs of fruit.
          </td>
        </tr>
        <tr>
          <td>
            KANDHARI
          </td>
          <td>
            While this variety is big and juicy, the seeds can be a little hard in texture.
          </td>
        </tr>
        </tbody>

      </table>
      <p>
        notes: Other varieties of pomegranate include Ruby, Karkai, Guleshah, Bedana, Khog, seedless Jalor, etc.
      </p>
    </section>

    <section class="">
      <h2>Global Pomegranate Imports by Country</h2>
       <div class="country col-6">
            <h3>UNITED ARAB EMIRATES</h3>
            <p>UAE is the major importing country of Indian pomegranates, accounting to nearly 32% of Indian global
              exports. Indian pomegranates trade at 0% MFN, with very low non-tariff barriers.</p>
            <p>Some characteristics of Indian Pomegranates in UAE Market: </p>
            <ul>
              <li>India’s pomegranate account to 46.8% of UAE’s imports.</li>
              <li>Indian sizes are smaller compared to those from others but have thicker arils & softer seeds</li>
              <li>Indian Bhagwa Red variety is highly preferred in UAE</li>
            </ul>
          </div>
    </section>
  </div>
  <footer class="footer">
    <button (click)="closePopup()" style="background-color: black;" >Close</button>
  </footer>
</div>

