

<div class="container products-page">
  <div class="row g-4">
    <div class="col-6 fruits-card">
      <a routerLink="/fruitspage">
        <img src="assets/Images/mixf.jpeg" alt="Fruits" class="product-image fruits-image" />
      </a>
      <h3>Fruits</h3>
    </div>

    <div class="col-6 vegetables-card">
      <a routerLink="/veg">
        <img src="assets/Images/mixv.jpeg" alt="Vegetables"  class="product-image vegetables-image" />
      </a>
      <h3>Vegetables</h3>
    </div>
  </div>

  <div class="row g-4 mt-4">
    <div class="col-6 spices-card">
      <a routerLink="/spi">
        <img src="assets/Images/mixv.jpeg" alt="Spices" class="product-image spices-image" />
      </a>
      <h3>Spices</h3>
    </div>

    <div class="col-6 sweeteners-card">
      <a routerLink="/swe">
        <img src="assets/Images/mixv.jpeg" alt="Sweeteners" class="product-image sweeteners-image" />
      </a>
      <h3>Sweeteners</h3>
    </div>
  </div>
</div>



  