<div class="container products-page">
  <div class="row g-3">
    <div class="col-4">
      <h3 style="text-align: center">Apple</h3>
      <img src="assets/Images/ap.jpg" alt="Fruits" style="height:290px;width:290px; cursor: pointer;"
           (click)="openApplePopup()" class="product-image fruits-image"/>
    </div>
    <div class="col-4">
      <h3 style="text-align: center;">Pomo</h3>
      <img src="../../assets/Images/fruits/pomo.jpg" alt="Fruits" style="height:400px;width:400px; cursor: pointer;"
           (click)="openPomoPopup()" class="product-image fruits-image"/>
    </div>
    <div class="col-4">
      <h3 style="text-align: center">Mango</h3>
      <img src="../../assets/Images/fruits/mango_front.jpg" alt="Fruits" style="height:350px;width:350px; cursor: pointer;"
           (click)="openMangoPopup()" class="product-image fruits-image"/>
    </div>

  </div>
  <div class="row g-3">
    <div class="col-4">
      <h3 style="text-align: center">Sapodilla</h3>
      <img src="../../assets/Images/fruits/sapodilla_front.jpg" alt="Fruits" style="height:350px;width:350px; cursor: pointer;"
           (click)="sapodillaPopup()" class="product-image fruits-image"
           class="product-image fruits-image"/>
    </div>
    <div class="col-4">
      <h3 style="text-align: center">Jackfruit</h3>
      <img src="../../assets/Images/fruits/jk.jpeg" alt="Fruits" style="height:250px;width:250px; cursor: pointer;"
           (click)="jackFruitPopup()" class="product-image fruits-image"
           class="product-image fruits-image"/>
    </div>
    <div class="col-4">
      <h3 style="text-align: center">WaterMelon</h3>
      <img src="../../assets/Images/fruits/watermelon_front.jpg " alt="Fruits" style="height:350px;width:350px; cursor: pointer"
           (click)="waterMelonPopup()" class="product-image fruits-image"
           class="product-image fruits-image"/>
    </div>
    <div class="col-4">
      <h3 style="text-align: center">Pineapple</h3>
      <img src="../../assets/Images/fruits/pineapple_front.jpg" alt="Fruits" style="height:350px;width:350px; cursor: pointer"
           (click)="pineApplePopup()" class="product-image fruits-image"
           class="product-image fruits-image"/>
    </div>
    <div class="col-4">
      <h3 style="text-align: center">Avocado</h3>
      <img src="../../assets/Images/fruits/avocado_front.jpg" alt="Fruits" style="height:350px;width:350px; cursor: pointer"
           (click)="avocadoPopup()" class="product-image fruits-image"
           class="product-image fruits-image"/>
    </div>
    <div class="col-4">
      <h3 style="text-align: center">Papaya</h3>
      <img src="../../assets/Images/fruits/papaya_front.jpg" alt="Fruits" style="height:350px;width:350px; cursor: pointer"
           (click)="papayaPopup()" class="product-image fruits-image"
           class="product-image fruits-image"/>
    </div>
    <div class="col-4">
      <h3 style="text-align: center">Banana</h3>
      <img src="../../assets/Images/fruits/banana_front.jpg" alt="Fruits" style="height:350px;width:350px; cursor: pointer"
           (click)="bananaPopup()" class="product-image fruits-image"
           class="product-image fruits-image"/>
    </div>
    <div class="col-4">
      <h3 style="text-align: center">Peas</h3>
      <img src="../../assets/Images/fruits/peas_front.jpg" alt="Fruits" style="height:350px;width:350px; cursor: pointer"
           (click)="peasPopup()" class="product-image fruits-image"
           class="product-image fruits-image"/>
    </div>
    <div class="col-4">
      <h3 style="text-align: center">Lemon</h3>
      <img src="../../assets/Images/fruits/lemon_front.jpg" alt="Fruits" style="height:350px;width:350px; cursor: pointer"
           (click)="lemonPopup()" class="product-image fruits-image"
           class="product-image fruits-image"/>
    </div>


  </div>
</div>
