<div class="water-melon-container">
<!--  <script>history.scrollRestoration = "manual"</script>-->
  <div class="header">
    <h1>Water Melon Cultivation and Exports</h1>
  </div>

  <div class="water-melon-content">
    <section class="section india">
      <h2>Watermelon Cultivation in India</h2>
      <p>India exports watermelons to countries such as the United Arab Emirates, Nepal, Maldives, Bhutan, and Qatar. In 2023, India exported 56,869,700 kg of fresh melons and watermelons</p>
    </section>
    <section class="section india">
      <h2>Areas of Cultivation :</h2>
      <p>The top watermelon producing states in India are Uttar Pradesh, Andhra Pradesh, and Tamil Nadu. In 2021-22, Uttar Pradesh produced the most watermelons at 21.91%, followed by Andhra Pradesh at 19.49%, and Tamil Nadu at 9.77%</p>
      <table>
        <thead>
        <th>State</th>
        <th>Production</th>
        <th>Share%</th>
        </thead>
        <tbody>
        <tr>
          <td>Uttar Pradesh</td>
          <td>706.55</td>
          <td>21.91</td>
        </tr>
        <tr>
          <td>Andhra Pradesh</td>
          <td>628.57</td>
          <td>19.49</td>
        </tr>
        <tr>
          <td>Tamil nadu</td>
          <td>315.19</td>
          <td>9.77</td>
        </tr>
        <tr>
          <td>Karnataka</td>
          <td>260.90</td>
          <td>8.90</td>
        </tr>
        <tr>
          <td>Orissa</td>
          <td>253.54</td>
          <td>7.86</td>
        </tr>
        <tr>
          <td>West Bengal</td>
          <td>230.17</td>
          <td>7.14</td>
        </tr>
        <tr>
          <td>Madhya Pradesh</td>
          <td>227.18</td>
          <td>7.04</td>
        </tr>
        <tr>
          <td>Haryana</td>
          <td>197.00</td>
          <td>6.11</td>
        </tr>
        <tr>
          <td>Maharashtra</td>
          <td>101.91</td>
          <td>3.16</td>
        </tr>
        <tr>
          <td>Jharkhand</td>
          <td>74.42</td>
          <td>2.31</td>
        </tr>
        </tbody>
      </table>
    </section >
    <section class="section">
      <h3>
        Country's Exports From India (2020)
      </h3>
      <table>
        <thead>
        <th>Exporting Country</th>
        <th>Quantity</th>
        <th>Value</th>
        <th>Share (%)</th>
        </thead>
        <tbody>
        <tr>
          <td>Spain</td>
          <td>749861.00</td>
          <td>518032.00</td>
          <td>25.72</td>
        </tr>
        <tr>
          <td>Mexico</td>
          <td>702677.00</td>
          <td>338557.00</td>
          <td>16.81</td>
        </tr>
        <tr>
          <td>Morocco</td>
          <td>257450.00</td>
          <td>188378.00</td>
          <td>9.35</td>
        </tr>
        <tr>
          <td>Italy</td>
          <td>315912.00</td>
          <td>142870.00</td>
          <td><7.29/td>
        </tr>
        <tr>
          <td>USA</td>
          <td>27293.00</td>
          <td>106888.00</td>
          <td>5.31</td>
        </tr>
        <tr>
          <td>Brazil</td>
          <td>128620.00</td>
          <td>84454.00</td>
          <td>4.19</td>
        </tr>
        <tr>
          <td>Germany</td>
          <td>102.430</td>
          <td><79482.00/td>
          <td>3.95</td>
        </tr>
        <tr>
          <td>Costa Rica</td>
          <td>66915.00</td>
          <td>53381.00</td>
          <td>2.65</td>
        </tr>
        <tr>
          <td>Greece</td>
          <td>175847.00</td>
          <td>52354.00</td>
          <td>2.60</td>
        </tr>
        <tr>
          <td>Guatemala</td>
          <td>105384.00</td>
          <td>46510.00</td>
          <td>2.31</td>
        </tr>
        </tbody>
      </table>
    </section>
    <section class="section">
      <h3>
        Top Country Import WaterMelon(Not From India)
      </h3>
      <table>
        <thead>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </thead>
        <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>
      <h2>
        Trade Flow Diagram for Wwtermelon
      </h2>
      <table>
        <thead>
        <th>Trade Flow</th>
        <th>Import Value <br> 2021,USD</th>
        <th>1 - Year Growth in import value <br> 2020 - 2021</th>
        <th>3 - Year Growth in import value <br> 2018 - 2021</th>
        <th>5 - Year Growth in import value <br> 2016 - 2021</th>
        </thead>
        <tbody>
        <tr>
          <td>mexico to United States</td>
          <td>$328.34M</td>
          <td>+6.98%</td>
          <td>+14.88%</td>
          <td>+10.38%</td>
        </tr>
        <tr>
          <td>Spain to Germany</td>
          <td>$164.86M</td>
          <td>-15.37%</td>
          <td>-24.43%</td>
          <td>+11.41%</td>
        </tr>
        <tr>
          <td>United States to Canada</td>
          <td>$88.08M</td>
          <td>+8.74%</td>
          <td>+24.71%</td>
          <td>+24.72%</td>
        </tr>
        <tr>
          <td>Morocco to France</td>
          <td>$83.63M</td>
          <td>+15.91%</td>
          <td>+66.84%</td>
          <td>+470.01%</td>
        </tr>
        <tr>
          <td>Spain to France</td>
          <td>$72.84M</td>
          <td>-12.73%</td>
          <td>-8.31%</td>
          <td>+19.30%</td>
        </tr>
        <tr>
          <td>Morocco to Spain </td>
          <td>$61.96M</td>
          <td>+5.41%</td>
          <td>+22.32%</td>
          <td>+181.22%</td>
        </tr>
        <tr>
          <td>Italy to Germany</td>
          <td>$58.24M</td>
          <td>-20.54%</td>
          <td>-11.86%</td>
          <td>+51.99%</td>
        </tr>
        <tr>
          <td>Guatemala to United States</td>
          <td>$55.99M</td>
          <td>+51.53%</td>
          <td>+22.11%</td>
          <td>+12.48%</td>
        </tr>
        <tr>
          <td>Mexico to Canada</td>
          <td>$45.09M</td>
          <td>+43.61%</td>
          <td>+32.47%</td>
          <td>+40.34%</td>
        </tr>
        <tr>
          <td>Spain to Poland</td>
          <td>$39.09M</td>
          <td>+100.42%</td>
          <td>+118.25%</td>
          <td>+247.92%</td>
        </tr>
        </tbody>
      </table>

    </section>
    <section class="section">
      <h3>Harvesting Time</h3>
      <h2>The watermelon harvesting season in India varies by region, but it's generally between July and August</h2>
      <ul>
        <li>
          North Indian plains:
        </li>
        <P> Watermelons are planted in February and March, and harvested in July and August</P>
      </ul>
      <ul>
        <li>
          Northeastern and western India:
        </li>
        <P>Watermelons are sown from November to January</P>
      </ul>
      <ul>
        <li>
          South and Central India:
        </li>
        <P>Watermelons can be cultivated almost year-round</P>
      </ul>
      <ul>
        <li>
          Punjab:
        </li>
        <P>Watermelons are sown from mid-January to March during the Rabi season </P>
      </ul>
    </section>
  </div>
  <footer class="footer">
    <button (click)="closePopup()" style="background-color: black;" >Close</button>
  </footer>
</div>

