.slider-container {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 400px;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.slide.active {
  opacity: 1;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
