<div class="initialLoad" fxFlexAlign>
<!--  <div class="videoContent">-->
<!--    <video autoplay loop class="video">-->
<!--      <source src="assets/video/home/coffee_harvesting_video.mp4" type="video/mp4" >-->
<!--    </video>-->
<!--  </div>-->
  <div class="actualContent">
    <div class="content">
      <h3 class="f1">Pinkfarms, Your Path to Mango Farming Paradise</h3>
      <p style="font-size: small;">
      </p>
      <button type="button" class="btn btn-success">Read More</button>
    </div>
  </div>
  <div class="actualContent">
    <div class="content">
      <h3 class="f1">Pinkfarms, Your Path to Mango Farming Paradise</h3>
      <p style="font-size: small;">
      </p>
      <button type="button" class="btn btn-success">Read More</button>
    </div>
  </div>

  <div class="actualContent">
    <div class="content">
      <h3 class="f1">Pinkfarms, Your Path to Mango Farming Paradise</h3>
      <p style="font-size: small;">
      </p>
      <button type="button" class="btn btn-success">Read More</button>
    </div>
  </div>


  <div class="actualContent">
    <div class="content">
      <h3 class="f1">Pinkfarms, Your Path to Mango Farming Paradise</h3>
      <p style="font-size: small;">
      </p>
      <button type="button" class="btn btn-success">Read More</button>
    </div>
  </div>


  <div class="actualContent">
    <div class="content">
      <h3 class="f1">Pinkfarms, Your Path to Mango Farming Paradise</h3>
      <p style="font-size: small;">
      </p>
      <button type="button" class="btn btn-success">Read More</button>
    </div>
  </div>

  <div class="actualContent">
    <div class="content">
      <h3 class="f1">Pinkfarms, Your Path to Mango Farming Paradise</h3>
      <p style="font-size: small;">
      </p>
      <button type="button" class="btn btn-success">Read More</button>
    </div>
  </div>
  <br>

</div>
<footer >
  <div class="footer">
    <div class="footer-address">
      <span >
        <div fxLayoutAlign>
        <img src="/assets/Images/final_logo.png" width="50" height="50">
        <h5 style="padding-left: 10px ; padding-top: 10px"> Bigbisort Export & Import</h5>
        </div>
      <p> Kambar St,ANBAZHAGAN NAGAR,
        <br>Minjur,chennai 601203
        <br>Call us: <a href="tel:800-000-0000">(800-000-0000)</a>
        <br> Email: <a href="mailto:contact@bigbisort.com">contact@bigbisort.com </a></p>
      </span>
      <div>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
        <a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://www.youtube.com" target="_blank"><i class="fa fa-youtube"></i></a>
        <a href="https://www.facebook.com/EnUnChasquido" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://www.instagram.com/vikram_vanitha_23/" target="_blank"><i class="fa fa-instagram"></i></a>
      </div>
    </div>
<!--    <div class="">-->
<!--      <form [formGroup]="contactForm">-->
<!--        <div class="mt-3" fxLayout="row wrap" fxLayoutGap="2px grid">-->
<!--          &lt;!&ndash;          <mat-form-field fxFlex="100" fxFlex.lt-md="100" fxLayout="colum ">&ndash;&gt;-->
<!--          <label for="name"> Name :  </label>-->
<!--          <input id="name" type="text" formControlName="name" placeholder="Enter your name" required minlength="3">-->
<!--          <mat-error align="end">-->
<!--            <ng-container>-->
<!--              <span *ngIf="contactForm?.get('name')?.value && contactForm?.get('name')?.value?.length < 3">Min 3 characters required</span>-->
<!--              <span *ngIf="!contactForm?.get('name')?.value">Required</span>-->
<!--            </ng-container>-->
<!--          </mat-error>-->


<!--          &lt;!&ndash;          </mat-form-field>&ndash;&gt;-->

<!--          &lt;!&ndash;          <label for="name"> Name :  </label>&ndash;&gt;-->
<!--          &lt;!&ndash;          <input id="name" type="text" formControlName="name">&ndash;&gt;-->
<!--          <label for="phone_no"> phone_no :  </label>-->
<!--          <input id="phone_no" type="number" formControlName="phone_no">-->
<!--          <label for="email"> Email :  </label>-->
<!--          <input id="email" type="email" formControlName="email">-->
<!--          <label for="city"> City :  </label>-->
<!--          <input id="city" type="text" formControlName="city">-->
<!--          <label for="message"> Message :  </label>-->
<!--          <input id="message" type="text" formControlName="message">-->
<!--          <button type="submit" (click)="onSubmit()">Submit</button>-->
<!--        </div>-->
<!--        &lt;!&ndash;        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">&ndash;&gt;-->
<!--      </form>-->
<!--    </div>-->
  </div>


  <div class="rights">
    <span> &copy; 2024 Bigbisort. All rights reserved </span>
  </div>

</footer>


