<div class="lemon-container">
<!--  <script>history.scrollRestoration = "manual"</script>-->
  <div class="header">
    <h1>Jack-fruit Cultivation and Exports</h1>
  </div>

  <div class="lemon-content">
    <section class="section india">
      <h2>Lemon Cultivation in India</h2>
      <p>The Indian mango is a special product that substantiates the high standards of quality and bountiful nutrients packed in it. A single mango can provide up to 40 percent of the daily dietary fiber needs – a potent protector against heart disease, cancer and cholesterol build-up. In addition, this luscious fruit is a warehouse of potassium, beta- carotene and antioxidants. In India, mangoes are mainly grown in tropical and subtropical regions from sea level to an altitude of 1,500m. Mangoes grow best in temperatures around 27˚C.</p>
      <p>For maintaining the highest quality standards, State-of-the-art packhouses have been set up in major production zones. Keeping in view the different country requirements, internationally recognized treatment facilities like Hot water treatment, Vapour heat treatment and Irradiation facilities have also been set up at various locations across the production belt.</p>
      <div class="stat">
        <h3>Varieties</h3>
        <ul>
          <li>India is the home of about 1,000 varieties. However, only a few varieties are commercially cultivated throughout India. Most Indian mango varieties have specific eco-geographical requirements for optimum growth and yield. The Northern/Eastern Indian varieties are usually late bearing compared to Southern and Western Indian varieties. Some of the local varieties of mango bear fruits throughout the year in extreme southern parts of India.</li>
        </ul>
      </div>
      <div class="stat">
        <h3>The important commercial varieties states wise:</h3>
        <table>
          <thead>
          <tr>
            <th>States</th>
            <th>Varieties</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              Andhra Pradesh
            </td>
            <td>
              <ul>
                <li>Banganapalli</li>
                <li>Suvarnarekeha</li>
                <li>Neelum</li>
                <li>Totapuri</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              Bihar
            </td>
            <td>
              <ul>
                <li>Bombay green</li>
                <li>Chausa</li>
                <li>Dashehari</li>
                <li>Fazli</li>
                <li>Gulabkhas</li>
                <li>Kishen bhog</li>
                <li>Himsagar</li>
                <li>Zardalu</li>
                <li>Langra</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              Gujarat
            </td>
            <td>
              <ul>
                <li>Kesar</li>
                <li>Alponsa</li>
                <li>Rajapuri</li>
                <li>Jamadar</li>
                <li>Totapuri</li>
                <li>Neelum</li>
                <li>dashehari</li>
                <li>Langra</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              Haryana
            </td>
            <td>
              <ul>
                <li>Chausa</li>
                <li>Dashehari</li>
                <li>Langra</li>
                <li>Fazli</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              Himachal Pradesh
            </td>
            <td>
              <ul>
                <li>Chausa</li>
                <li>Dashehari</li>
                <li>Langra</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              Karnataka
            </td>
            <td>
              <ul>
                <li>Alphonso</li>
                <li>Totapuri</li>
                <li>Banganapalli</li>
                <li>pairi</li>
                <li>Neelum</li>
                <li>Mulgo</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              Madhya Pradesh
            </td>
            <td>
              <ul>
                <li>Alponso</li>
                <li>Bombay Green</li>
                <li>Dashehari</li>
                <li>Fazli</li>
                <li>Langra</li>
                <li>Neelum</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              Maharashtra
            </td>
            <td>
              <ul>
                <li>Alponso</li>
                <li>Kesar</li>
                <li>Pairi</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              Punjab
            </td>
            <td>
              <ul>
                <li>Chausa</li>
                <li>Dashehari</li>
                <li>Malda</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              Rajasthan
            </td>
            <td>
              <ul>
                <li>Bombay green</li>
                <li>Chausa</li>
                <li>Banganapalli</li>
                <li>Neelum</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              Tamil nadu
            </td>
            <td>
              <ul>
                <li>Alponso</li>
                <li>Banganapalli</li>
                <li>Totapuri</li>
                <li>Neelum</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              Uttar Pradesh
            </td>
            <td>
              <ul>
                <li>Bombay green </li>
                <li>Chausa</li>
                <li>Dashehari</li>
                <li>Langra</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              West Bengal
            </td>
            <td>
              <ul>
                <li>Fazli</li>
                <li>Gulabkhas</li>
                <li>Himsagar</li>
                <li>Kishenbhog</li>
                <li>Langra</li>
                <li>Bombay green</li>
              </ul>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </section>
    <section class="section india">
      <h2>Areas of Cultivation :</h2>
      <p>
        The major mango-growing states are Andhra Pradesh, Uttar Pradesh, Karnataka, Bihar, Gujarat and Telangana. Uttar Pradesh ranks first in mango production with a share of 23.58 % and the highest productivity in 2021-22.
      </p>
    </section >
    <section class="section india">
      <h3>India Facts and Figures :</h3>
      <p>
        India is also a prominent exporter of fresh mangoes to the world. The country has exported 27,872.78 MT of fresh mangoes to the world for the worth of Rs. 327.45 crores/ 44.05 USD Millions during the year 2021-22.
        Major Export Destinations (2021-22): United Arab EMTs, the U.K., Qatar, Oman and Kuwait
      </p>
    </section>
    <section class="section india">
      <h3>
        Annual Tons
      </h3>
      <p>
        Mango is among the most important fruits produced in India. They are grown in an area of 1.23 million hectares with an annual production of almost 10.99 million tonnes, which accounts for more than 55 percent of the world's total production
      </p>
    </section>
    <section class="section">
      <h3>
        Country's Exports From India
      </h3>
      <table>
        <thead>
        <tr>
          <th>Country</th>
          <th>Qty</th>
          <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>UAE</td>
          <td>12923.69</td>
          <td>14472.70</td>
        </tr>
        <tr>
          <td>UK</td>
          <td>3376.89</td>
          <td>7337.83</td>
        </tr>
        <tr>
          <td>Qatar</td>
          <td>2116.64</td>
          <td>2332.75</td>
        </tr>
        <tr>
          <td>Oman</td>
          <td>1.693.15</td>
          <td>1898.19</td>
        </tr>
        <tr>
          <td>Kuwait</td>
          <td>773.27</td>
          <td>1747.02</td>
        </tr>
        <tr>
          <td>Nepal</td>
          <td>4659.48</td>
          <td>952.55</td>
        </tr>
        <tr>
          <td>Singapore</td>
          <td>350.24</td>
          <td>718.24</td>
        </tr>
        <tr>
          <td>Canada</td>
          <td>295.96</td>
          <td>541.58</td>
        </tr>
        <tr>
          <td>Baharin Is</td>
          <td>342.02</td>
          <td>398.77</td>
        </tr>
        <tr>
          <td>Saudi Arab</td>
          <td>337.37</td>
          <td>376.56</td>
        </tr>
        </tbody>
      </table>
    </section>
    <section class="section">
      <h3>
        Top Country Import Mango(Not From India
      </h3>
      <table>
        <thead>
        <tr>
          <th>Trade Flow</th>
          <th>Import Value</th>
          <th>1-year growth in Import value</th>
          <th>3-year growth in Import value</th>
          <th>5-year growth in Import value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Thailand o china</td>
          <td>$707.30M</td>
          <td>+18.13%</td>
          <td>+116.12%</td>
          <td>+446.16%</td>
        </tr>
        <tr>
          <td>Mexico to Unites State</td>
          <td>$434.44M</td>
          <td>+10.57&</td>
          <td>+19.87%</td>
          <td>+33.08%</td>
        </tr>
        <tr>
          <td>Brazil to Netherlands</td>
          <td>$125.85M</td>
          <td>+10.10%</td>
          <td>+32.20%</td>
          <td>+57.47%</td>
        </tr>
        <tr>
          <td>Peru to Netherlands</td>
          <td>$118.62M</td>
          <td>-10.41%</td>
          <td>+24.74%</td>
          <td>+65.70%</td>
        </tr>
        <tr>
          <td>Peru to United states</td>
          <td>$105.51M</td>
          <td>+6.68%</td>
          <td>+47.02%</td>
          <td>+60.06%</td>
        </tr>
        <tr>
          <td>Brazil to Germany</td>
          <td>$87.95M</td>
          <td>+4.50%</td>
          <td>+7.01%</td>
          <td>+21.24%</td>
        </tr>
        <tr>
          <td>Maxico to Canada</td>
          <td>$83.04M</td>
          <td>+15.14%</td>
          <td>+39.65%</td>
          <td>+74.51%</td>
        </tr>
        <tr>
          <td>Brazil to Unites States</td>
          <td>$74.33M</td>
          <td>+18.98%</td>
          <td>+77.55%</td>
          <td>+94.02%</td>
        </tr>
        <tr>
          <td>Indonesia to China</td>
          <td>$69.54M</td>
          <td>-18.26%</td>
          <td>+228.29%</td>
          <td>+254069.80%</td>
        </tr>
        <tr>
          <td>Ecuador to United States</td>
          <td>$68.99M</td>
          <td>+9.90%</td>
          <td>+12.84%</td>
          <td>+4.00%</td>
        </tr>
        </tbody>
      </table>
    </section>
    <section class="section">
      <h3>Area Of Cultivations mango in India</h3>
      <table>
        <thead>
        <tr>
          <th>States </th>
          <th> Values (000MT)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Andhra Pradesh</td>
          <td>2445.8</td>
        </tr>
        <tr>
          <td>Uttar Pradesh</td>
          <td>1950.0</td>
        </tr>
        <tr>
          <td>Bihar</td>
          <td>1253.5</td>
        </tr>
        <tr>
          <td>Karnataka</td>
          <td>1130.6</td>
        </tr>
        <tr>
          <td>Maharashtra</td>
          <td>559.0</td>
        </tr>
        <tr>
          <td>West Bengal</td>
          <td>585.0</td>
        </tr>
        <tr>
          <td>Tamil Nadu</td>
          <td>438.7</td>
        </tr>
        <tr>
          <td>Orissa</td>
          <td>402.4</td>
        </tr>
        <tr>
          <td>Gujarat</td>
          <td>457.6</td>
        </tr>
        <tr>
          <td>Others</td>
          <td>797.6</td>
        </tr>
        </tbody>
      </table>
    </section>
    <section class="section">
      <h3>Harvesting Time</h3>
      <h2>The major harvesting seasons in different states are:</h2>
      <p>The mango fruits should be harvested at green mature stage. In case of Alphonso mangoes the fruit is
        considered to be mature when the shoulder outgrow the stem and the external colour becomes light
        green with a yellowish red blush. The harvest maturity in Dashehari and Langra cultivars reaches 12
        weeks after fruit set, while in Chausa and Mallika it takes about 15 weeks. The best way to observe
        maturity in mango is the colour of the pulp, which turns cream to light yellow on maturity and hardening</p>
    </section>

  </div>
  <footer class="footer">
    <button (click)="closePopup()" style="background-color: black;" >Close</button>
  </footer>
</div>

